<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
  	<title>Onshape BOM Sample Application</title>

    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/bom.css" />

  </head>

  <script src="js/jquery.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="jquery-plugin-query-parser-master/jquery-queryParser.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/spin.js"></script>
  <script src="js/underscore-min.js"></script>
  <script src="js/index.js"></script>

  <body>
  <div class="bom-controls">
      <div class="bom-content-top">
          <div class="row">
                  <h3 class="bom-title">Bill of Materials</h3>
          </div>
          <div id="context-table">
              <div class="bom-ctrl-aligned">
                  <button class="btn bom-btn-primary btn-sm clearfix" id="element-generate">Create</button>
                  <select id="elt-select" class="form-control bom-select"></select>
                  <select id="type-select" class="form-control bom-select">
                      <option>Flattened Component List</option>
                      <option>Tree List</option>
                  </select>
                  <span class ="bom-inputs">
                      <span class="bom-input"><input type="checkbox" id="bom-component-collapse">Combine components by name</span>
                  </span>
                  <div class="options" id="options_panel">
                      <button class="btn btn-default btn-sm clearfix bom-btn" id="element-save-csv">Save as CSV</button>
                      <button class="btn btn-default btn-sm clearfix bom-btn" id="element-print">Print</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="bom-content">
      <div class="info-message" id="element-model-change-message">
          <p><i>* Model has been changed. BOM may not be up to date. *</i></p>
      </div>
      <div class="row">
          <div class="col-md-12 os-col-border" class="bom-progress-bar" id="bom-status-bar" style="display: none;"></div>
      </div>
      <div class="row bom-row">
          <div class="col-md-6 col-sm-6 col-xs-12 os-col-border image-container">
              <div class="image-results" id="image-results"></div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 os-col-border bom-results" id="bom-results"></div>
      </div>
  </div>
  <div class="alert alert-info" id="alert_template" style="display: none;">
      <button type="button" class="close">×</button>
  </div>
  </body>
</html>
