<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
  	<title>Onshape BOM Sample Application</title>
    
    <link rel="stylesheet" href="jquery-ui-1.11.1.custom/jquery-ui.min.css">
    <link rel="stylesheet" href="css/bom.css">

  </head>

  <body>

    <script src="jquery-ui-1.11.1.custom/external/jquery/jquery.js"></script>
    <script src="jquery-ui-1.11.1.custom/jquery-ui.min.js"></script>
    <script src="jquery-plugin-query-parser-master/jquery-queryParser.min.js"></script>
    <script src="js/q.js"></script>
    <script src="js/index.js"></script>

    <div id="context-table">
       <h2>Bill of Materials:</h2>
       <select id="elt-select"></select>
       <select id="type-select">
          <option>Flattened Component List - Selected Assembly</option>
          <option>Tree List - Top Level Assembly</option>
       </select>
       <input type="checkbox" id="thumbs-generate">Generate thumbnails for sub-assemblies</input>
    <input type="image" id="element-generate" width="20" height="20" style="border:none" src="./images/150413_Feature_Icons_Refresh.svg" />
    </div>

    <div id="bomResults">
    </div>

  </body>
</html>
