@media print {
  html, body {
    height: 99%;
  }
}

body {
  font-family: 'Flama';
  padding: 10;
  margin: 10;
}

h2 {
  font-family: 'Flama';
}
table,
th {
  font-family: "Flama";
  font-size: 11pt;
  color: #333333;
  border-bottom: 1px solid #9aa5af;
  line-height: 36px;
  padding: 20px;
}
table,
th,
td {
  border-collapse: collapse;
}
caption {
  font-size: 14pt;
  font-weight: 600;
}
.app-title {
  font-size: 12pt;
  font-weight: 600;
}
.boldlabel {
  font-size: 11pt;
  color: #1b5faa;
  font-weight: 600;
}
.block,
.title {

}
.block {
  padding: 40px;
}

div {
  font-family: "Flama";
  margin : 10px;
}

select {
  font-family: "Flama";
}
.infomessage {
  margin : 10px;
  margin-left : 50px;
  color : red;
  font-family: 'Flama';
  font-size : 10pt;
  padding  : 40px;
}

@font-face {
  font-family: 'Flama';
  font-style: normal;
  font-weight: 200;
  src: url('/css/fonts/Flama-Thin.eot');
  src: url('/css/fonts/Flama-Thin.eot?#iefix') format('embedded-opentype'), url('/css/fonts/Flama-Thin.woff') format('woff'), url('/css/fonts/Flama-Thin.svg#font') format('svg');
}
@font-face {
  font-family: 'Flama';
  font-style: normal;
  font-weight: 300;
  src: url('/css/fonts/Flama-Light.eot');
  src: url('/css/fonts/Flama-Light.eot?#iefix') format('embedded-opentype'), url('/css/fonts/Flama-Light.woff') format('woff'), url('/css/fonts/Flama-Light.svg#font') format('svg');
}
@font-face {
  font-family: 'Flama';
  font-style: normal;
  font-weight: 400;
  src: url('/css/fonts/Flama-Basic.eot');
  src: url('/css/fonts/Flama-Basic.eot?#iefix') format('embedded-opentype'), url('/css/fonts/Flama-Basic.woff') format('woff'), url('/css/fonts/Flama-Basic.svg#font') format('svg');
}
@font-face {
  font-family: 'Flama';
  font-style: normal;
  font-weight: 500;
  src: url('/css/fonts/Flama-Medium.eot');
  src: url('/css/fonts/Flama-Medium.eot?#iefix') format('embedded-opentype'), url('/css/fonts/Flama-Medium.woff') format('woff'), url('/css/fonts/Flama-Medium.svg#font') format('svg');
}
@font-face {
  font-family: 'Flama';
  font-style: normal;
  font-weight: 600;
  src: url('/css/fonts/Flama-Semibold.eot');
  src: url('/css/fonts/Flama-Semibold.eot?#iefix') format('embedded-opentype'), url('/css/fonts/Flama-Semibold.woff') format('woff'), url('/css/fonts/Flama-Semibold.svg#font') format('svg');
}
@font-face {
  font-family: 'Flama';
  font-style: normal;
  font-weight: 700;
  src: url('/css/fonts/Flama-Bold.eot');
  src: url('/css/fonts/Flama-Bold.eot?#iefix') format('embedded-opentype'), url('/css/fonts/Flama-Bold.woff') format('woff'), url('/css/fonts/Flama-Bold.svg#font') format('svg');
}

