html,
body {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
}
table,
th {
  font-family: "Open-Sans";
  font-size: 11pt;
  color: #333333;
  align: left;
  border-bottom: 1px solid #9aa5af;
  line-height: 36px;
}
table,
th,
td {
  border-collapse: collapse;
}
th,
td {

}
#login,
#logout {
  display: inline;
}
#dev-toolbar {
  background: white;
}
#top-toolbar {
  margin: 4px;
  background: white;
  font-size: 10pt;
  font-weight: 400;
  font-family: 'Open Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
}
#app-name {
  color: #1b5faa;
  font-size: 12pt;
  font-weight: 600;
  font-family: 'Open Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
  margin-right: 10px;
}
#dev-tabs {
  height: 100%;
  font-size: 10pt;
  font-weight: 400;
  font-family: 'Open Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
}
#dev-container {
  background: white;
  overflow: auto;
}
.tab-content {
  background: white;
}
.app-title {
  font-size: 12pt;
  font-weight: 600;
}
.boldlabel {
  font-size: 11pt;
  color: #1b5faa;
  font-weight: 600;
}
.rowlabel {
  color: #333333;
  font-weight: 600;
}
.rowdata {
  color: #666666;
}
.catTitle, .catBlock {
  width: 100%;
  padding: 4px;
  margin-bottom: 4px;
  font-family: 'Open Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
}
.catTitle {
  background-color: LightSlateGray;
  color: White;
  font-size: 12pt;
  font-weight: @onshapeFontWeightHeavy;
  margin: 2px;
}
.block,
.title {

}
.block {
  padding: 40px;
}
.title {

}
.classCall, .classResult {
    display: block;
    font-family: monospace;
    white-space: pre;
}
.classBody {
    display: block;
    font-family: "Open-Sans";
    white-space: pre;
}
.classResult {
    word-wrap: break-word;
    overflow-wrap: break-word;
}
